@model CatalogoAutomotivo.MER.Fabricante

@{
    ViewData["Title"] = "Detalhes do fabricante";
}

<h1>Detalhes</h1>

<div>
    <h4>Fabricante: @Model.RazaoSocial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slogan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slogan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFundacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFundacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fundador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fundador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sede)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sede)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebSite)
        </dt>
        <dd class="col-sm-10">
            <a href="https://@Model.WebSite" target="_blank">@Model.WebSite</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Img)
            <img src="~/@Model.Img" width="200" style="background-color:white; border-radius:10px"/>
        </dt>
    </dl>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Barra com botões">
    <div class="btn-group me-2" role="group" aria-label="Botão Editar">
        <a asp-action="Edit" asp-controller="Fabricantes" asp-route-id="@Model.Id">
            <button type="button" class="btn btn-primary btn">Editar</button>
        </a>
    </div>
    <div class="btn-group me-2" role="group" aria-label="Botão Voltar">
        <a asp-action="Index" asp-controller="Fabricantes">
            <button type="button" class="btn btn-secondary">Voltar</button>
        </a>
    </div>
    <div class="btn-group" role="group" aria-label="Botão Deletar">
        <a asp-action="Delete" asp-controller="Fabricantes" asp-route-id="@Model.Id">
            <button type="button" class="btn btn-danger">Deletar</button>
        </a>
    </div>
</div>
