@model IEnumerable<CatalogoAutomotivo.MER.Categoria>

@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="~/img/Carousel/Fiat_Uno.jpg" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="~/img/Carousel/Lancia_Stratos.jpg" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="~/img/Carousel/Renault_Alpine.jpg" class="d-block w-100 img-fluid" alt="...">
        </div>
    </div>
</div>

<br />

<div id="Categorias">
    <h2>Categorias</h2>

    <div class="row row-cols-2 justify-content-between">
        @if(Model.Count() < 5)
        {
            @foreach (var item in Model)
            {
                <div class="card text-bg-white col-sm-6 col-md-3">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.Img" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title" style="color: black">@item.NomeCategoria</h5>
                        </div>
                    </a>
                </div>
            }
        }

        @if(Model.Count() >= 5)
        {
            @foreach (var item in Model.Take(4))
            {
                <div class="card text-bg-white col-sm-6 col-md-3">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.Img" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title" style="color: black">@item.NomeCategoria</h5>
                        </div>
                    </a>
                </div>
            }

            <div class="card text-bg-white col-sm-6 col-md-3">
                <a asp-action="Index" asp-controller="Categorias">
                    <div class="card-img-overlay" style="vertical-align:middle; line-height: 200px">
                        <h5 class="card-title">Mais Categorias</h5>
                    </div>
                </a>
            </div>
        }

    </div>
</div>